:root {
  --ff: "Inter", "Arial", sans-serif;
  --color-primaty: #1E1E1E;
  --color-secondary: #3369F3;
  --color-third: #FFFFFF;
  --color-grey: #999999;
  --color-light-grey: #EFEFEF;
  --color-error: #FF2F2F;
  --color-line: #EAEAEA;
  --color-dark-line: #E5E5E5;
  --color-light-blue: #E4EDFD;
  --color-bg-list: #FBFBFB;
  --color-menu-btn: #F5F5F5;
  --color-bg-message-me: #F8F8F8;
  --color-bg-message-friend: #E4EDFD;
  --color-bg-popap: rgb(0 0 0 / 40%);
  --color-bg-time: #A9A9A9;
  --color-overlay-avatar: rgb(0 0 0 / 50%);
  --color-link-red: #FF0000;
  --shadow: rgb(0 0 0 / 14%);
}
