---
style:
- ./css/404.css
---

{{#extend 'layouts'}}
    {{#content 'main'}}
        <div class="page-404">
            <div class="page-404-content">
                <div  class="page-404-title">404</div>
                <div class="page-404-text">Не туда попали</div>
                <a  class="page-404-back-chat" href="index.hbs"> <span>Назад к чатам</span></a>
            </div>
        </div>
    {{/content}}
{{/extend}}