---
style:
- ./css/500.css
---

{{#extend 'layouts'}}
    {{#content 'main'}}
        <div class="page-500">
            <div class="page-500-content">
                <div  class="page-500-title">500</div>
                <div class="page-500-text">Мы уже фиксим</div>
                <a class="page-500-back-chat" href="index.hbs">Назад к чатам</a>
            </div>
        </div>
    {{/content}}
{{/extend}}
