---
title: Регистрация
style:
- ../components/css/button.css
- ./css/signUp.css
- ../components/css/input.css
---

{{#extend 'layouts'}}
    {{#content 'main'}}
        <div class="page-registration">
            <div class="page-registration-content">
                <div class="page-registration-title"><h1>{{ title }}</h1></div>
                <div class="page-registration-inputData">
                    {{#each signUp.inputData}}
                        {{> input label = this.title name = this.name type = this.type }}
                    {{/each}}
                </div>
                <div class="field-buttons">
                    <div class="button-login">
                        {{> button text = "Зарегистрироваться" currentStyle = "button"}}
                    </div>
                    <a class="login-link" href="login.hbs">Вход</a>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
