<div class="profile-page">
    {{#each profile.inputData}}
        <div class="">
            <div class="">
            </div>
            <input class="" name="{{ this.name }}" placeholder="{{ this.value }}" />
        </div>
    {{/each}}
</div>