<div class="">
    <div class="">
                <div>
                    <img class="image-back" src="../../public/images/defaultAvatar.png" alt="Аватар"/>
                </div>
            </div>
    <span class="">
           Alex 
    </span>
</div>