<!DOCTYPE html>
    <html lang="ru">
        <head>
            {{#block 'stylePage'}}
                {{#each style}}
                    <link rel="stylesheet" href="{{this}}">
                {{/each}}
            {{/block}}
            <link rel="stylesheet" href="../pages/css/index.css">
        </head>
        <body>
            {{#block 'main'}}{{/block}}
            {{#block "scripts"}}
            {{#each scripts}}
                <script defer src="{{this}}"></script>
            {{/each}}
            {{/block}}
        </body>
    </html> 
    